@model GymBlog.Models.BlogPost

@{
    ViewData["Title"] = "Sobre Mí";
}

    <section id="about" class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <img src="/images/yo.jpg" class="img-fluid rounded-circle mb-3" alt="Tu Foto">
                </div>
                <div class="col-md-8">
                    <h2 class="text-primary">Sobre Mí</h2>
                    <p>Soy Marco di Carlo, un pibe de 16 años apasionado por el gym y he probado el nuevo reto de bloguear todo lo que hago en el Gym</p>
                </div>
            </div>
        </div>
    </section>
