body {
    font-family: 'Roboto', sans-serif;
    background: url('/images/fondo.jpeg') no-repeat center center fixed;
      background-size: cover;
      
      
}

.navbar {
    width: 100%;
    background-color: #28a745; /* Verde */
    padding: 10px 0;
}

h1.display-4{
    font-weight: bold;
}


.blog-card {
    transition: transform 0.3s ease-in-out;
    width: 60%;
    margin-left: 20%;
}

.blog-card:hover {
    transform: scale(1.05);
}

.force-calculator {
    width: 60%;
    margin-left:20% ;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.force-calculator:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #218838;
    transform: scale(1.1);
}

.card-title, .card-text, h2 {
    font-size: calc(1rem + 1vw);
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2rem;
    }
}
